div#navbar {
  background: linear-gradient(to right, #53e0d4 0%,#32f29f 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;

  & h1 {
    margin: 0;
    font-size: 35px;

    & a {
      font-family: "Fredoka One", "Helvetica", "sans-serif";
      color: white;
      text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
      transition: text-shadow .2s;

      &:hover {
        text-decoration: none;
        text-shadow: -3px 3px 0px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
